.element {
  margin-bottom: -60px;
}
.one {
  transform: rotateX(40deg);
  animation: one 2s infinite;
  animation-direction: alternate;
}
@keyframes one {
  0% {
    transform: rotateX(0);
  }
  100% {
    transform: rotateX(50deg);
  }
}
